{% extends "forum/base.html" %}
{% load static %}

{% block content %}
    <style>
        .album {
            max-width: 1000px;
            margin: 0 auto;
        }

    </style>
    <body>
    <div class="container-fluid px-4" style="max-width: 1000px;">
        {#        <h1 class="mt-4">{{ category.name }}</h1>#}

        <div class="card mb-4">
            {% if category.slug %}
                <div class="card-header">
                    <a class="btn btn-primary float-end" href="{% url 'create-post' category_slug=category.slug %}">
                        Post </a>
                </div>
            {% endif %}
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Hits</th>
                        <th>Post date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in page %}
                        <tr>
                            <td><a> {{ post.id }} </a></td>
                            <td>
                                <a href="
                                    {% if category.slug %}
                                        {% url 'post-info' category_slug=category.slug post_id=post.id %}
                                    {% else %}
                                        {% url 'post-info' category_slug=post.category.slug post_id=post.id %}
                                    {% endif %}">
                                    {{ post.title }}
                                </a>
                            </td>
                            <td><a> {{ post.writer }} </a></td>
                            <td><a> {{ post.hits }} </a></td>
                            {# async process required #}
                            <td><a> {{ post.created_at }} </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link {% if page.number == 1 %}disabled{% endif %}" href="?page=1" aria-label="First">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link {% if not page.has_previous %}disabled{% endif %}"
                   href="{% if page.has_previous %}?page={{ page.previous_page_number }}{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>

            {% for num in page.paginator.page_range %}
                {% if num == page.number %}
                    <li class="page-item {% if num == page.number %}active{% endif %}"><a
                            class="page-link">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item">
                <a class="page-link {% if not page.has_next %}disabled{% endif %}"
                   href="{% if page.has_next %}?page={{ page.next_page_number }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link {% if page.number == page.paginator.num_pages %}disabled{% endif %}"
                   href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    </body>
{% endblock %}
