<style>
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-white">

    <div class="container-fluid" style="max-width: 1000px; height: 100px; position: relative;">

        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img style="height: 110px;"
                     src="https://github.com/ojg1993/CommuniTea/assets/61238157/9a211dc3-4c42-4051-b01c-cb81e1094302">
            </a>

            <form class="d-flex position-relative" role="search">
                <input class="form-control me-2" style="width: 500px; text-align: center;" type="search"
                       placeholder="Search" aria-label="Search">
                <button class="btn position-absolute" type="submit" style="right: 0; top: 0; border: none;">
                    <i class="material-icons" style="vertical-align: middle;">
                        search
                    </i>
                </button>
            </form>
            &nbsp;

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" style="font-weight: bold;" aria-current="page"
                           href="{% url 'register' %}">My page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="font-weight: bold;" href="{% url 'user_login' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" style="font-weight: bold;" aria-current="page"
                           href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="font-weight: bold;" href="{% url 'user_login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>

</nav>
&nbsp;
<div class="container-fluid" style="max-width: 1000px; height: 50px; min-width:600px;">
    <ul class="nav nav-underline d-flex justify-content-between">
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">All Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">Best</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">Open Forum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">Job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">House</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">Food</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">Travel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">Visa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="#">Hangout</a>
        </li>

    </ul>
</div>
<hr style="max-width: 1000px; margin-left: auto; margin-right: auto;">
&nbsp;
