<style>
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    .dropdown-link:hover {
        background-color: lightgray;
    }

</style>

<nav class="navbar navbar-expand-lg bg-body-white">

    <div class="container-fluid" style="max-width: 1000px; height: 100px; position: relative;">

        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img style="height: 110px;"
                     src="https://github.com/ojg1993/CommuniTea/assets/61238157/9a211dc3-4c42-4051-b01c-cb81e1094302">
            </a>

            <form class="d-flex position-relative" role="search">
                <input class="form-control me-2" style="width: 500px; text-align: center;" type="search"
                       placeholder="Search" aria-label="Search">
                <button class="btn position-absolute" type="submit" style="right: 0; top: 0; border: none;">
                    <i class="material-icons" style="vertical-align: middle;">
                        search
                    </i>
                </button>
            </form>
            &nbsp;

            <div class="d-flex align-items-center">
                <!-- Default menu -->
                <ul class="navbar-nav d-none d-lg-flex">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" style="font-weight: bold; width: 80px;" aria-current="page"
                               href="{% url 'my-page' %}">My page</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a class="nav-link active" style="font-weight: bold;"
                               href="{% url 'user-logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" style="font-weight: bold;" aria-current="page"
                               href="{% url 'register' %}">Register</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a class="nav-link active" style="font-weight: bold;"
                               href="{% url 'user-login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>

                <!-- Narrow page with dropdown menu -->
                <div class="dropdown d-lg-none">
                    <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownMenuButton">
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link active dropdown-link" style="font-weight: bold;" aria-current="page"
                                       href="{% url 'my-page' %}">My page</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active dropdown-link" style="font-weight: bold;"
                                       href="{% url 'user-logout' %}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active dropdown-link" style="font-weight: bold;" aria-current="page"
                                       href="{% url 'register' %}">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active dropdown-link" style="font-weight: bold;" href="{% url 'user-login' %}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
&nbsp;
<div class="container-fluid" style="max-width: 1000px; height: 50px; min-width:600px;">
    <ul class="nav nav-underline d-flex justify-content-between">
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="{% url 'category-posts' category_slug='all-post' %}">All
                Post</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="{% url 'category-posts' category_slug='best' %}">Best</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="{% url 'category-posts' category_slug='open-forum' %}">Open
                Forum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="{% url 'category-posts' category_slug="job" %}">Job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="{% url 'category-posts' category_slug="house" %}">House</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="{% url 'category-posts' category_slug="food" %}">Food</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black "
               href="{% url 'category-posts' category_slug="travel" %}">Travel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black " href="{% url 'category-posts' category_slug="visa" %}">Visa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black "
               href="{% url 'category-posts' category_slug="hangout" %}">Hangout</a>
        </li>

    </ul>
</div>
<hr style="max-width: 1000px; margin-left: auto; margin-right: auto;">
&nbsp;
`