{% extends "forum/base.html" %}
{% load static %}

{% block content %}
    <style>
        body {
            background-color: grey;
        }

        .search-input {
            background-color: grey;
            border: none;
        }
    </style>

    <body>
    <div class="container bg-white shadow-md p-5 w-50 form-layout">
        <div class="text-center">
            <i class="fa fa-check fa-3x text-success"></i>
            <br> <br>
            <h5><strong> Password reset has successfully completed ! </strong></h5>
            <hr>
            <p> you may proceed to login by clicking below. </p>
            <div class="text-center">
                <a href="{% url 'user-login' %}"> Login </a>
            </div>
        </div>
    </div>
    <br>

    </body>
{% endblock content %}