{% extends 'forum/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        body {
            background-color: grey;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .search-input {
            background-color: grey;
            border: none;
        }
    </style>

    <div class="container bg-white shadow-md p-5 form-layout w-50">
        <h3 class="text-center"> Create your account </h3>
        <h6 class="text-center"> Have a cup of CommuniTea today! </h6>
        <hr>
        <br>
        <form method="POST" autocomplete="off" class="form-group ">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-secondary navbar-btn text-white w-100 p-2">
                Register
            </button>
            <br> <br>
            <div class="text-center">
                <a href="{% url 'user-login' %}"> Already have an account ? </a>
            </div>
        </form>
    </div>


{% endblock %}