{% extends 'forum/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        body {
            background-color: grey;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .search-input {
            background-color: grey;
            border: none;
        }
    </style>

    <div class="container bg-white shadow-md p-5 form-layout w-50">
        <h3 class="text-center"> Create your post </h3>
        <hr>
        <br>
        <form method="POST" autocomplete="off" class="form-group" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-secondary navbar-btn text-white w-100 p-2">
                Create post
            </button>
        </form>
    </div>


{% endblock %}