{% extends "forum/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <body>
    <div class="container justify-content-center" style="display: flex; justify-items: auto; max-width: 1000px;">
        <div>
            <div class="container" style="width: 600px;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        {% if post.writer == request.user %}
                            <button onclick="deletePost(this)" data-post-id="{{ post.id }}"
                                    data-category-slug="{{ category_slug }}" type="button"
                                    class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        {% endif %}
                    </div>
                    <div><h6 style="font-weight: bold; margin: 6px 0;"> {{ post.title }} </h6></div>
                    <div>
                        {% if post.writer == request.user %}
                            <a href="{% url 'update-post' category_slug=post.category.slug post_id=post.id %}">
                                <button type="button" class="btn btn-outline-primary btn-sm">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <hr style="margin: 10px 0;">
            <div style="display: flex; justify-content: space-between; margin: 5px 10px; ">
                <div style="font-size: xx-small;">
                    by: {{ post.writer.get_email_domain }}
                </div>

                <div style="display: flex; font-size: xx-small;">
                    <div>
                        hits: {{ post.hits }}
                        &nbsp; &nbsp; | &nbsp; &nbsp;
                    </div>
                    {% if post.modified_at %}
                        <div>
                            edited: {{ post.modified_at|date:"d/m/y" }} {{ post.modified_at|time:"H:i" }}
                        </div>
                        &nbsp; &nbsp; | &nbsp; &nbsp;
                    {% endif %}
                    posted: {{ post.created_at|date:"d/m/y" }} {{ post.created_at|time:"H:i" }}
                </div>
            </div>
            <div class="card" style="width: 600px; align-self: center;">
                <div class="card-body" style="min-height: 600px;">
                    <p class="card-text">{{ post.content }}</p>
                    {% if post.image %}
                        <br> <br>
                        <div class="border text-center">
                            <img src="{{ post.image.url }}" class="img-fluid" style="width: 400px; height: 225px;">
                        </div>
                    {% endif %}
                </div>
                <hr style="margin-top: 5px;">

                <div class="row" style="justify-content: center;">

                    <a class="col-md-2 btn btn-sm" style="margin-right: 20px;"
                       href="{% url 'emotion' post_id=post.id category_slug=category_slug like=1 %}">
                        {% if user_vote_info.has_liked %}
                            <i class="fa-solid fa-thumbs-up"></i> {{ post.get_like_count }}
                        {% else %}
                            <i class="fa-regular fa-thumbs-up"></i> {{ post.get_like_count }}
                        {% endif %}
                    </a>
                    <a class="col-md-2 btn btn-sm" style="margin-left: 20px;"
                       href="{% url 'emotion' post_id=post.id category_slug=category_slug like=0 %}">
                        {% if user_vote_info.has_disliked %}
                            <i class="fa-solid fa-thumbs-down"></i> {{ post.get_dislike_count }}
                        {% else %}
                            <i class="fa-regular fa-thumbs-down"></i> {{ post.get_dislike_count }}
                        {% endif %}
                    </a>
                </div>
                <br>
            </div>
        </div>

        &nbsp;
        <hr style="border: 1px solid grey; height: 710px; margin: 40px 0px 10px 10px;">
        &nbsp;

        <div class="container" style="width: 400px;">
            <div style="display: flex; justify-content: space-evenly">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a class="btn btn-outline-secondary btn-sm {% if not has_previous_post %}disabled{% endif %}"
                       href="{% url 'previous-post' category_slug=category_slug post_id=post.id %}">
                        Prev post
                    </a>
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{% url 'category-posts' category_slug=category_slug %}">
                        Post list
                    </a>
                    <a class="btn btn-outline-secondary btn-sm {% if not has_next_post %}disabled{% endif %}"
                       href="{% url 'next-post' category_slug=category_slug post_id=post.id %}">
                        Next post
                    </a>
                </div>
            </div>
            <hr style="margin: 10px 0px 0 0; width: 390px;">

            <div class="text-center" style="font-size: medium; font-weight: bold; margin-bottom: 5px;">
                Comment
            </div>

            <div class="card" style="width: 390px; max-height: 680px; align-self: center;">
                <div class="card-body" style="min-height: 680px;">
                    <ul class="list-group">
                        {% for comment in comment_page %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">{{ comment.content }}</div>
                                    <div class="col-md-4 d-flex justify-content-end">
                                        {% if comment.commenter_id == request.user.id %}
                                            <button onclick="deleteComment(this)"
                                                    data-category-slug="{{ category_slug }}"
                                                    data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}"
                                                    type="button"
                                                    class="btn btn-outline-danger btn-sm">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                            &nbsp;
                                            <a class="btn btn-outline-primary btn-sm"
                                               href="{% url 'update-comment' comment_id=comment.id post_id=post.id category_slug=category_slug %}">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row" style="font-size: 10px;">
                                    <div class="col-md-4">by: {{ comment.commenter.get_email_domain }}</div>
                                    <div class="col-md-4">edited: {{ comment.modified_at|date:"d/m/y" }}</div>
                                    <div class="col-md-4">created: {{ comment.created_at|date:"d/m/y" }}</div>
                                </div>
                            </li>

                        {% endfor %}
                    </ul>
                    <nav style="height: 50px;">
                        <ul class="pagination justify-content-center" style="padding-top: 10px;">
                            <li class="page-item">
                                <a class="page-link {% if comment_page.number == 1 %}disabled{% endif %}"
                                   href="?page=1"
                                   aria-label="First">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link {% if not comment_page.has_previous %}disabled{% endif %}"
                                   href="{% if comment_page.has_previous %}?page={{ comment_page.previous_page_number }}{% endif %}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&lsaquo;</span>
                                </a>
                            </li>

                            {% for num in page_range %}
                                {% if num == comment_page.number %}
                                    <li class="page-item {% if num == comment_page.number %}active{% endif %}">
                                        <a class="page-link" style="font-size: 10px; margin-top: 7px;">
                                            {{ num }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" style="font-size: 10px; margin-top: 7px;"
                                           href="?page={{ num }}">
                                            {{ num }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item">
                                <a class="page-link {% if not comment_page.has_next %}disabled{% endif %}"
                                   href="{% if comment_page.has_next %}?page={{ comment_page.next_page_number }}{% endif %}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link {% if comment_page.number == comment_page.paginator.num_pages %}disabled{% endif %}"
                                   href="?page={{ comment_page.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <br>
                    {% if request.user.is_authenticated %}
                        <div style="max-height: 100px; position: absolute; bottom: 40px;">
                            <form action="{% url 'create-comment' post_id=post.id category_slug=category_slug %}"
                                  method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-outline-secondary btn-sm"
                                        style="margin-top: 3px; float: right;">
                                    Leave a comment
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </body>

    <script>
        function deletePost(btn) {
            var delete_confirm = confirm("Are you sure you want to delete the post?");
            var post_id = btn.getAttribute('data-post-id');
            var category_slug = btn.getAttribute('data-category-slug');
            if (delete_confirm) {
                var post_delete_url = `/${category_slug}/posts/${post_id}/delete-post`;
                window.location.href = post_delete_url;
            }
        }

        function deleteComment(btn) {
            var delete_confirm = confirm("Are you sure you want to delete the comment?");
            var category_slug = btn.getAttribute('data-category-slug');
            var post_id = btn.getAttribute('data-post-id');
            var comment_id = btn.getAttribute('data-comment-id');
            if (delete_confirm) {
                var comment_delete_url = `/${category_slug}/posts/${post_id}/delete-comment/${comment_id}`;
                window.location.href = comment_delete_url;
            }
        }
    </script>

{% endblock %}
